*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background-color:#ccc;
}

.container{
  max-width: 56.25rem;
  margin: 0 auto;
}

.apply_box{
  max-width: 37.5rem;
  background-color:white;
  margin: 0 auto;
  padding: 1.25rem;
  margin-top: 3.125rem;
  border-radius: 0.625rem;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
}

.small_title{
  font-size: 1.25rem;
}

.form_container{
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 1.25rem;
}

.form_control{
  display: flex;
  flex-direction: column;
}

label{
  font-size: 0.9375rem;
  margin-bottom: 0.3125rem;
}

input,select,textarea{
  padding: 0.375rem 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.9375rem;
}

.button_container{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.25rem;
}

input:focus, textarea:focus{
  outline-color: red;
}

button{
  background-color: red;
  border: 2px solid transparent;
  padding: 5px 10px;
  color: white;
  border-radius: 0.5rem;
  transition: 0.3s ease-in;
}

button:hover{
  background-color: #ccc;
  border:2px solid red;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.textarea_control{
  grid-column: 1 / span 2;
}

.textarea_control textarea{
  width: 100%;
}

@media screen and (max-width: 460px){
  .textarea_control{
    grid-column: 1 / span 1;
  }
}